<div *ngIf="hasErrors" class="row error">
  <mz-badge
    [caption]="'Please login to Mingle! If you are already logged in pease check the configuration (config.ts).'"
    [badgeClass]="'col s12 red'">
  </mz-badge>
</div>

<table *ngIf=" !(hasErrors) && cards ">
  <thead>
    <tr>
        <th *ngFor="let laneName of laneNames" class="center-align">{{laneName}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let laneName of laneNames" [ngClass]="{'empty-lane': (cards | lane:laneName).length === 0}">
        <mz-card
          *ngFor="let card of cards | lane:laneName"
          [backgroundClass]="'blue-grey darken-1'"
          [textClass]="'white-text'"
          [hoverable]="true">
          <mz-card-title># {{card.number}}</mz-card-title>
          <mz-card-content>{{card.name}}</mz-card-content>
          <mz-card-action>
            <a href="#">{{card.owner || '?'}}</a>
            <a href="#">{{card.anotherOwner || '?'}}</a>
          </mz-card-action>
        </mz-card>
      </td>
    </tr>
  </tbody>
</table>
