/deep/ span.badge.new {
	font-size: 20px;
	height: auto;
	line-height: 1.5;
}

/deep/ table {
	width: auto;
}

/deep/ th {
	font-size: 22px;
	font-weight: 500;
}

/deep/ th {
	padding: 22px 5px;
}

/deep/ td {
	padding: 15px;
}

/deep/ tr, /deep/ td {
	vertical-align: top;
}

/deep/ .card {
	width: 350px;
}

/deep/ .empty-lane {
	width: 350px;
	display: block;
}

/deep/ .card-content .card-title {
	font-size: 28px;
	font-weight: 500;
}

/deep/ .card-content p {
	font-size: 24px;
}

/deep/ .card-action a {
	font-size: 20px;
	text-transform: none !important;
}
